script#comment-template(type="text/x-template")
  .comment(v-attr="id:'comment-' + comment.comment" v-class="deleted:deleted")
    a(v-if="!deleted" href="/{{comment.owner}}")
      bb-avatar(name="{{comment.owner}}")

    .comment-wrapper
      .comment-header(v-if="deleted") (Comment deleted)

      .comment-header(v-if="!deleted")
        | <a href="/{{comment.owner}}">{{comment.owner}}</a>
        | ({{comment.owner_points | humanNumber}}) commented
        | {{comment.created | timeSince}}.

        .actions(v-show="!editing")
          span(title="Comment votes")
            | ({{(comment.upvotes - comment.downvotes) | humanNumber}})

          a.fa.fa-arrow-up(title="Upvote" v-show="canUpvote"
            v-on="click:vote(true)")

          a.fa.fa-arrow-down(title="Downvote" v-show="canDownvote"
            v-on="click:vote(false)")

          a(v-if="getDepth() < 8" title="Reply" v-on="click:reply()") reply

          a.fa.fa-edit(title="Edit comment" v-show="canEdit"
            v-on="click:edit()")

          a.fa.fa-trash-o(tooltip="Delete comment" v-show="canDelete"
            v-on="click:askRemove()")

          bb-modal(ref="{{'delete.' + comment.comment}}" buttons="cancel delete"
            callout="top-right")
            .modal-header Delete this comment?

        .actions(v-show="editing")
          button(v-on="click:cancel()") Cancel
          button(v-on="click:save()" v-class="success:modified") Save

      .comment-content(v-if="!deleted")
        div(v-markdown="comment.text" v-show="!editing")
        markdown-editor(field="edit_text" v-if="editing" max-length=10000)

    bb-comment-editor(v-if="show_reply" placeholder="Enter reply here."
      parent="{{comment.comment}}")

    .comments(v-if="children && children.length")
      div(v-repeat="child:children")
        bb-comment(comment="{{child}}")
