script#file-template(type="text/x-template")
  td.preview
    img(v-if="showThumb()" v-attr="src:file.src || file.url")
    .fa(v-if="!showThumb()" v-class="getIcon()" title="{{file.type}} file")

  td.name
    span(v-show="!file.url") {{file.name}}
    a(v-show="file.url" href="{{file.url}}?count=1" target="_blank"
      title="Download file" v-on="click:download()") {{file.name}}

  td.size
    div(v-progressbar="file.percent" v-show="file.uploading"
      v-class="waiting:!file.percent")
      span(v-show="file.percent") {{file.percent}}%

    span(v-show="!file.uploading")
      | {{file.size | humanSize}}

  td.downloads(title="{{file.downloads}} downloads")
    | {{file.downloads | humanNumber}}

  td.actions
    .delete
      a.fa.fa-trash-o(v-on="click:askDelete()" v-show="canEdit"
        title="Delete file")

      bb-modal(ref="delete" buttons="cancel delete" callout="top-right")
        .modal-header Delete this file?

    a.fa.fa-arrow-up(v-show="canEdit" v-class="disabled:!canUp()"
      v-on="click:up()" title="Move up")

    a.fa.fa-arrow-down(v-show="canEdit" v-class="disabled:!canDown()"
      v-on="click:down()" title="Move down")

    a.fa.fa-download(v-show="file.url" v-on="click:download()" target="_blank"
      href="{{file.url}}?count=1" title="Download file")
