script#thing-template(type="text/x-template")
  page-layout
    .header-content
      .widgets
        bb-stars(thing="{{thing}}")
        //bb-children(children="{{thing.children}}")

      .breadcrumbs
        a(href="/explore/creations"): .fa.fa-cubes(title="Creations")
        span /
        a(href="/{{thing.owner}}") {{thing.owner}}
        span /
        a(href="/{{thing.owner}}/{{thing.name}}") {{thing.name}}

    .page-content
      .actions
        button.success(v-show="isOwner && subsection == 'view'"
          v-on="click:startEditing") Edit
        button.success(v-show="isOwner && !thing.published"
          v-on="click:publish") Publish

      .section(v-component="thing-view"
        v-if="!isOwner || subsection == 'view'")

      .section(v-show="isOwner && subsection != 'view'")
        .edit-menu
          a(v-repeat="getEditSubsections()" href="#{{$value}}"
            v-class="'subsection-item-' + $value, active:$value == subsection")
            | {{getSubsectionTitle($value)}}

        .edit-contents
          h1 {{getSubsectionTitle(subsection)}}
          div(v-component="thing-{{subsection}}")
