doctype html
html
  head
    meta(charset='UTF-8')
    title= title

    base(href='/')

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    link(rel='stylesheet'
      href=cdn + '/twitter-bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet'
      href=cdn + '/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css')
    link(rel='stylesheet'
      href=cdn + '/font-awesome/4.2.0/css/font-awesome.min.css')

    - cdn = '//cdn.jsdelivr.net'
    link(rel='stylesheet' href=cdn + '/editor/0.1.0/editor.css')

    link(rel='stylesheet' href='/css/style.css')

  body
    #header.navbar.navbar-default
      include ./navbar.jade

    #content(v-component="{{currentPage}}-page" v-class="{{currentPage}}-page"
      v-with=("profileData:profileData, thingData:thingData, user:user, " +
        "licenses:licenses"))

    #templates(v-pre)
      include ../../build/templates.jade

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    script(src=cdn + '/jquery/2.1.3/jquery.js')
    script(src=cdn + '/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src=cdn + '/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
    script(src=cdn + '/marked/0.3.2/marked.min.js')
    script(src=cdn + '/moment.js/2.9.0/moment.min.js')
    script(src=cdn + '/vue/0.11.4/vue.js')

    script(src='//cdn.jsdelivr.net/editor/0.1.0/editor.js')

    script(src='js/modernizr.custom.js')
    script(src='js/plupload.full.min.js')
    script(src='js/page.min.js')

    script(src='js/assets.js')
