include ../../build/hashes.jade

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Buildbotics

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    link(rel='stylesheet'
      href=cdn + '/font-awesome/4.7.0/css/font-awesome.min.css')

    link(rel='stylesheet'
      href=cdn + '/codemirror/4.11.0/codemirror.min.css')

    link(rel='stylesheet'
      href=cdn + '/slick-carousel/1.3.15/slick.css')

    link(rel='stylesheet'
      href=cdn + '/highlight.js/8.4/styles/solarized_light.min.css')

    link(href='//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Lato|' +
      'Audiowide'
      rel='stylesheet' type='text/css')

    link(rel='stylesheet' href='/css/style-' + css_hash + '.css')

    meta(property="og:description" content="Buildbotics now on Kickstarter")
    meta(property="og:image"
      content="/controller/buildbotics_vs_competition-v1.png")
    meta(property="og:url" content="http://buildbotics.com/kickstarter")

    meta(property="twitter:description"
      content="Buildbotics now on Kickstarter")
    meta(property="twitter:image"
      content="/controller/buildbotics_vs_competition-v1.png")
    meta(property="twitter:card" content="summary_large_image")

  body
    #page(v-show="!authenticating")
      include ./header.jade

      #content(v-component="{{currentPage}}-page"
        v-class="{{currentPage}}-page")

        noscript
          .page-content
            h1 Buildbotics requires Javascript.
            p
              | We appologize for the inconvenience but you must
              | <a href="http://enable-javascript.com/">enable Javascript</a>
              | to use this Website.

        #incompatible-browser
          .page-content
            h1 Incompatable browser.
            p
              | We appologize for the inconvenience but your browser
              | is too old to view the our Website.
            p
              | Please <a href="http://whatbrowser.org/">update your
              | browser</a>.

      .clear
      include ./footer.jade

    #templates
      include ../../build/templates.jade

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    script(src=cdn + '/jquery/2.1.3/jquery.min.js')
    script(src=cdn + '/jquery-cookie/1.4.1/jquery.cookie.min.js')
    script(src=cdn + '/marked/0.3.2/marked.min.js')
    script(src=cdn + '/moment.js/2.9.0/moment.min.js')
    script(src=cdn + '/vue/0.11.8/vue.min.js')
    - var cmCDN = cdn + '/codemirror/4.11.0'
    script(src=cmCDN + '/codemirror.js')
    script(src=cmCDN + '/addon/mode/overlay.min.js')
    script(src=cmCDN + '/addon/display/placeholder.min.js')
    script(src=cmCDN + '/mode/markdown/markdown.min.js')
    script(src=cmCDN + '/mode/gfm/gfm.min.js')
    script(src=cdn + '/slick-carousel/1.3.15/slick.min.js')
    script(src=cdn + '/highlight.js/8.4/highlight.min.js')
    script(src=cdn + '/highlight.js/8.4/languages/javascript.min.js')

    script(src='/js/modernizr.custom.js')
    script(src='/js/plupload.full.min.js')

    script(src='/js/assets-' + js_hash + '.js')
